@font-face {
    font-family: CoffeFont;
    src: url(../fonts/Coffee\ Fills.ttf);
  }


:root {
    --ColorText: #FFECCF;
    --backgroundColorCards:#1a18188e;
    --bordercolor: #FEE6CA;
    --Boxshadow: #1a1818;
    --lightshadow:#FFECCF;
}


html{
    scroll-behavior: smooth;
    scrollbar-color: var(--ColorText) var(--Boxshadow);
    scrollbar-width: thin;
}

body.no-scroll {
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./wallpaper.jpg);

    
    
    /* background-color: #A3C0AA; */
	/* background: 
		  radial-gradient(farthest-side at -33.33% 50%,#0000 52%,#437346 54% 57%,#0000 59%) 0 calc(144px/2),
		  radial-gradient(farthest-side at 50% 133.33%,#0000 52%,#437346 54% 57%,#0000 59%) calc(144px/2) 0,
		  radial-gradient(farthest-side at 133.33% 50%,#0000 52%,#437346 54% 57%,#0000 59%),
		  radial-gradient(farthest-side at 50% -33.33%,#0000 52%,#437346 54% 57%,#0000 59%),
		  #1A1818;
	background-size: calc(144px/4.667) 144px,144px calc(144px/4.667); */
}


header {
    color: var(--ColorText);
    text-align: center;
    padding: 1em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    height: 3rem;
    font-family: CoffeFont;
}

header div p {
    background-color: var(--backgroundColorCards);
    backdrop-filter: blur(3px);
    padding: 10px;
    border-radius: 9px;
    box-shadow: #1a1818 2px 2px 10px;
    font-size: 1.4rem;
    font-weight: 500;
}

.header-div {
    display: flex;
    list-style: none;
}

.header-div li {
    background-color: #1a18188e;
    margin-left: 2rem;
    padding: 10px;
    border-radius: 8px;
    box-shadow: #1a1818 2px 2px 10px;
    transition: 500ms all;
}

.header-div li a {
    color: #FFECCF;
    text-decoration: none;
    font-size: 1.2rem;
}

.header-div li a:visited {
    color: #FFECCF;
} 

.header-div li:hover {
    transform: scale(1.2);
    transition: all 500ms;
    box-shadow: 1px 1px 10px #FFECCF;
}
 

.Backgoundz {
    background-color: var(--backgroundColorCards);
    padding: 2rem;
    border-radius: 15px;
    backdrop-filter: blur(3px);
    box-shadow: var(--Boxshadow) 2px 2px 10px;
    max-width: 60rem;
    width: 90%;
}

.presentation {
    padding: 1rem;
    display: flex;
    text-align: center;
    height: 70%;
    justify-content: center;
    align-items: center;
    font-family: CoffeFont;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFECCF;
}

.presentation img{
    filter: drop-shadow( 1px 1px 120px #e3797767);
    width: 70%;
}

.presentation h2 {
    font-size: 1.8rem;
}

.presentation p {
    font-size: 1.2rem;
}




.presentacion-ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-inline-start: 0px;
}

.presentacion-ul li {
    background-color: var(--backgroundColorCards);
    padding: 10px;
    margin: 0px 10px;
    border-radius: 8px;
    box-shadow: #1a1818 2px 2px 10px;
    transition: 500ms all;
}

.presentacion-ul li a {
    color: #FFECCF;
    text-decoration: none;
    font-size: 1.2rem;
}

.presentacion-ul li a:visited {
    color: #FFECCF;
} 

.presentacion-ul li:hover {
    transform: scale(1.2);
    transition: all 500ms;
    box-shadow: 1px 1px 10px #FFECCF;
}

#enable-notifications {
    background-color: transparent;
    border: 0px;
    font-family: CoffeFont;
    color: #FFECCF;
    font-size: 18px;
}



.search-bar {
    text-align: center;
    margin: 1em 0;
}

#searchInput, #filterSelect {
    padding: 0.5em;
    font-size: 1em;
    margin: 0.5em;
    border-radius: 8px;
}

#filterButton {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #4CAF50;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 500ms;
}

#filterButton:hover {
    background-color: #45a049;
    transition: all 500ms;
}


#itemListContainer{
    background-color: #A3C0AA;
    padding-top: 2rem;
    border-radius: 15px;
    backdrop-filter: blur(1px);
    border: solid 1px #242F2F;
    width: 98%;
    max-width: 80rem;
    margin: auto;
}

.category-section {
    margin: 2em 0;
    border: #A1A1A1 solid 8px;
    background-color: #4B4B4B;
    margin: 1rem;
    border-radius: 15px;
    box-shadow: #1a1818 2px 2px 10px;

}

.categoria-titulo {
    display: flex;
    justify-content: center;
    /* background-color: #4B4B4B; */
}

.category-section h2 {
    text-align: center;
    border: dashed 5px #A1A1A1;
    background-color: #4B4B4B;
    padding: 1em;
    margin: 15px;
    color: #A1A1A1;
    font-size: 2.5rem;
    border-radius: 15px;
    box-shadow: #1a1818 2px 2px 10px;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid #A1A1A1 3px;
    border-radius: 19px 19px;
    background-color: #A3C0AA;
    margin: 15px;
    position: relative;
    padding: 1rem;
     
}

.item-list::after {
    content: '';
    position: absolute;
    inset: 7px;
    border: 3px dashed #A1A1A1;
    border-radius: 14px;
    pointer-events: none;

}

.item {
    display: flex;
    border: 3px solid #DDD7BD;
    border-radius: 15px;
    width: 25rem;
    margin: 1em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
    background-color: var(--defaultCard);
    box-shadow: #4B4B4B 2px 2px 10px;
    position: relative;
    cursor: pointer;
    padding: 0.5rem;
}

.item::after {
    content: '';
    position: absolute;
    inset: 7px;
    border: 3px dashed #DDD7BD;
    border-radius: 14px;
    pointer-events: none;

}

.item:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 500ms;
}

.item img {
    width: 10rem; /* Ajustar según sea necesario */
    height: fit-content;
    border-right: 1px solid #ddd;
    padding: .5rem;
    margin: .5rem;
    background-color: #DDD7BD;
    border-radius: 50%;
     
}

.item-details {
    flex-grow: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #DDD7BD;
    margin: .5rem;
    border-radius: 15px;
     
}

.item-name {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.item-price {
    color: #4CAF50;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.5em 0;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.item-category, .item-rarity {
    margin: 0.5em 0;
    font-weight: bold;
}

.item-category {
    color: #007BFF; /* Color para la categoría */
}

.item-rarity {
    color: #FF5733; /* Color para la rareza */
}

.more-info {
    display: none;
    padding: 0.8rem;
    background-color: #c5bfa6;
    border-top: 1px solid #ddd;
    margin-top: 0.5em;
    border-radius: 9px;
    
}

.item.active .more-info {
    display: block;
    animation: slideDown 0.5s ease-in-out forwards;
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* Colores de fondo según rareza */
.common {
    background-color: #f0f0f0;
}

.rare {
    background-color: #d4edda;
}

.legendary {
    background-color: #f8d7da;
}

#custom-map {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#map-image {
    width: 90%;
    display: block;
    margin: auto;
}

.pin {
    position: absolute;
    width: auto; /* Ajusta el tamaño de los pines según sea necesario */
    height: 4.5rem;
    cursor: pointer;
    transition: all 700ms;
    border-radius: 25%;
    filter: drop-shadow( 1px 3px 1px #202020a2);
    animation: scaleUp 5s infinite;
}

@keyframes scaleUp {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.pin:hover {
    transition: all 700ms;
    filter: drop-shadow( 1px 1px 10px var(--lightshadow));
    backdrop-filter: blur(1px);
}



#pin-info-box h2 {
    margin-top: 0;
    text-align: center;
    font-size: 2rem;
    
}



#pin-description{
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--backgroundColorCards);
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #FEE6CA;
    filter: drop-shadow( 1px 1px 120px var(--lightshadow));
}

.pin-div {
    display: flex;
    justify-content: space-around;
}

.pin-div div{
    background-color: var(--backgroundColorCards);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #FEE6CA;
    gap: 10px;
}


.pin-div div h3 {
    font-size: 1.6rem;
    text-align: center;
}

.pin-div div li {
    font-size: 1.3rem;
}

body.no-scroll {
    overflow: hidden;
}

#pin-info-box {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 50rem;
    transform: translate(-50%, -50%);
    background-color: var(--backgroundColorCards);
    color: #FEE6CA;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1001;
    border: 6px double #FEE6CA;
    font-family: CoffeFont;
    overflow-y: 200px;
}

#pin-info-box .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: #FEE6CA;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/*pescados linea de tiempo*/


.time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-color: var(--backgroundColorCards); 
    backdrop-filter: blur(3px);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: #1a1818 2px 2px 10px;
    font-family: CoffeFont;
    max-width: 50rem;
}

.time-container button{
    width: fit-content;
    margin-top: 1rem;
    background-color: var(--backgroundColorCards); 
    border: solid #FFECCF 2px;
    border-radius: 8px;
    padding: 3px;
    color: #FFECCF;
    font-family: CoffeFont;
    font-size: 1rem;
    cursor: pointer;
    transition: all 500ms;
}

.time-container button:hover {
    transform: scale(1.2);
    transition: all 500ms;
    box-shadow: 1px 1px 10px #FFECCF;
}

h2 {
    text-align: center;
    color: #FFECCF;
    font-family: CoffeFont;
    font-size: 2rem;
}

#timeline {
    display: flex;
    flex-direction: column;
    gap: 10px;
    scrollbar-color: var(--ColorText) var(--backgroundColorCards);
    scrollbar-width: thin;
    
}

.timeline-scroll {
    max-height: 400px; /* Ajusta este valor según tu diseño */
    overflow-y: auto;
    border-radius: 15px;
    border: solid 3px var(--bordercolor);
    padding: 8px;
}

.fish-entry {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--backgroundColorCards);
}

.fish-entry h2 {
    margin: 0;
    font-size: 1.2em;
    color: #FFECCF;
}

.fish-entry p {
    margin: 5px 0 0;
    color: #FFECCF;
}

.noFishMessage{
    color: #FFECCF;
    text-align: center;
    font-size: 2rem;
}

/*Buscador*/
#search-fish {
    background-color: var(--backgroundColorCards);
    border-radius: 8px;
    border: solid 2px var(--bordercolor);
    color: var(--ColorText);
    height: 2rem;
    width: 70%;
    margin-bottom: 1rem;
    font-family: CoffeFont;
    transition: cubic-bezier() 700ms;
}

#search-fish:focus {
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 700ms;
    filter: drop-shadow(2px 2px 20px  #ddd7bde1);
}

/*pescados popup*/

.popup {
    display: none; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: var(--backgroundColorCards);
    border-radius: 15px;
    box-shadow: #1a1818 2px 2px 10px;
    font-family: CoffeFont;
    z-index: 1; 
    overflow-y: auto;
    color: #FFECCF;
    
}

.popup-content {
    position: relative;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: var(--backgroundColorCards); 
    border: 6px double #FEE6CA;
    border-radius: 10px;
    overflow-y: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
}

#fish-schedules {
    text-align: center;
}

#fish-schedules h3 {
    margin-bottom: 5px;
}

#fish-schedules ul {
    list-style-type: none;
    padding: 0;
    background-color: var(--backgroundColorCards);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #FEE6CA;
    gap: 10px;
}

#fish-schedules li {
    margin-bottom: 5px;
}


footer {
    height: fit-content;
    margin-top: 1rem;
    background-color: var(--backgroundColorCards);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px 15px 0px 0px;
    backdrop-filter: blur(3px);
    font-family: CoffeFont;
    color: #DDD7BD;
}

footer a{
    color: #DDD7BD;
    font-family: CoffeFont;
}

footer a:visited{
    color: #DDD7BD;
    
}

footer div {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cafecito {
    margin-top: 1rem;
}



@media only screen and (max-width: 600px) {

    .Backgoundz {
        background-color: var(--backgroundColorCards); 
        padding: 2rem;
        border-radius: 15px;
        backdrop-filter: blur(3px);
        box-shadow: var(--backgroundColorCards) 2px 2px 10px;
        max-width: 60rem;
        width: 80%;
    }

    .presentation img{
        filter: drop-shadow( 1px 1px 120px #e3797767);
        width: 80%;
    }

    .logo {
        font-size: 1.8rem;
        margin: 1rem;
    }

    .header-div li a {
        color: var(--ColorText);
        text-decoration: none;
        font-size: 1rem;
    }

    header {

        color: var(--ColorText);
    
        text-align: center;
    
        padding: 1em 0;
    
        display: flex;

        flex-direction: column;
        justify-content: center;
    
        align-items: center;
    
        z-index: 1;
    
        height: fit-content;
    
        font-family: CoffeFont;
        
    }

    
    .header-div li {
        background-color: var(--backgroundColorCards);
        margin-left: 0rem;
        margin: 0.5rem;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: #1a1818 2px 2px 10px;
        transition: 500ms all;
    }



    div ul{
        padding-inline-start: 0px;
    }

    .pin {
        position: absolute;
        width: auto; /* Ajusta el tamaño de los pines según sea necesario */
        height: 2.5rem;
        cursor: pointer;
        transition: all 700ms;
        border-radius: 25%;
        filter: drop-shadow( 1px 3px 1px #202020a2);
        animation: scaleUp 5s infinite;
    }

    .item {
        display: block;
        border: 3px solid #DDD7BD;
        border-radius: 15px;
        width: fit-content;
        margin: 1em;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        transition: box-shadow 0.3s ease;
        background-color: var(--defaultCard);
        box-shadow: #4B4B4B 2px 2px 10px;
        position: relative;
        cursor: pointer;
        padding: 0.5rem;
    }

    #pin-info-box h2 {
        margin-top: 0;
        text-align: center;
        font-size: 1.8rem;
        
    }

    #pin-description{
        font-size: 1rem;
        text-align: center;
        background-color: #1a18189a;
        padding: 30px;
        border-radius: 15px;
        border: 1px solid #FEE6CA;
        filter: drop-shadow( 1px 1px 120px #fee6ca9f);
    }

    .pin-div div h3 {
        font-size: 1.3rem;
        text-align: center;
    }
    
    .pin-div div li {
        font-size: 1rem;
    }




}



.code-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background-color: #1a18188e;
    box-shadow: #1a1818 2px 2px 10px;
    backdrop-filter: blur(3px);
    border-radius: 15px;
    width: 90%;
    font-family: CoffeFont;
}

.code-container p {
    color: #DDD7BD;
    font-size: 1.1rem;
    text-align: center;
}

.code-section {
    margin-bottom: 20px;
    color: #DDD7BD;
    border-radius: 15px;
    filter: drop-shadow(1px 1px 10px  #DDD7BD);
}

.code-section h2 {
    color: #DDD7BD;
    text-align: center;
    padding: 1rem;
}

.code-card {
    width: fit-content;
    max-width: 20rem;
    background-color: #1a18188e;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    transition: 500ms all;

    
    
}

.code-card:hover{
    filter: drop-shadow(1px 1px 20px  #DDD7BD);
    transition: 500ms all;
}

.code-card p {
    margin: 0;
    background-color: transparent;
    border: 3px double #DDD7BD;
    padding: 3px;
    border-radius: 5px;
    font-size: 1rem;
}

.code-expired {
    color: #d21313;
    text-decoration: line-through;
    cursor: pointer;
}

.code-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #1a18189e;
    color: #DDD7BD;
    border-radius: 5px;
    border: solid 3px #DDD7BD;
}

.code-show {
    display: block;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

@media only screen and (max-width: 600px) {
    .code-container {
        padding: 10px;
    }
}

#active-codes {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

#inactive-codes {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

}


.code-card {
    transition: filter 500ms;
}

#toggle-inactive {
    display: block;
    margin: 10px auto;
    gap: 20px;
    padding: 10px 20px;
    background-color: #1a18189c;
    border-radius: 8px;
    color: #DDD7BD;
    font-family: CoffeFont;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#toggle-inactive:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}

/* Efecto visual para el código más reciente */
.code-card {
    transition: filter 500ms;
}




/*horas*/


#reloj-section {
    background-color: #1a18189c;
   
    width: 50%;
    margin: auto;
    margin-bottom: 1rem;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #1a1818 2px 2px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: CoffeFont;
    color: #FFECCF;
}

#reloj-section h2 {
    font-size: 1.1rem;
    margin-top: 0px;
}

#reloj-section button{
    font-family: CoffeFont;
    font-size: 1rem;
    background-color: #1a181860;
    border: solid 1px #FFECCF;
    padding: 5px;
    border-radius: 8px;
    margin-top: 3px;
}

#reloj {
    font-size: 1.8rem;
    
}


/*Tips section*/



#galeria-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    overflow: hidden;
    background-color: transparent;
    position: relative;
    font-family: CoffeFont;
    color: #DDD7BD;
    margin-top: 2rem;
}

#galeria-container {
    display: flex;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    align-items: center;
}

.tarjeta {
    flex: 0 0 auto;
    height: fit-content;
    width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #1a181860;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 500ms all;
}

.tarjeta img {
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.tarjeta p {
    font-size: 1em;
    text-align: center;
}

.tarjeta:focus {
    filter: drop-shadow(1px 1px 20px  #DDD7BD);
    transition: 500ms all;
}

.tarjeta1 {
    flex: 0 0 auto;
    height: fit-content;
    width: 1500px;
    margin: 10px;
    padding: 20px;
    background-color: #1a181800;
    border-radius: 10px;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta1 img {
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.tarjeta1 p {
    font-size: 1em;
    text-align: center;
}

#galeria-section button {
    background-color: #1a181860;
    backdrop-filter: blur(2px);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 500ms all;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

#galeria-section button:hover {
    background-color: #ddd7bd8b;
    filter: drop-shadow(1px 1px 20px  #DDD7BD);
    transition: 500ms all;
}

/*Personajes section*/

.personajes-section {
    padding: 20px;
    justify-content: center;
}

.personajes-section h2 {
    text-align: center;
}

.personajes-div {
    background-color: #1a18189c;
    backdrop-filter: blur(3px);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: #1a1818 2px 2px 10px;
    color: #DDD7BD;
    font-family: CoffeFont;
}

.personajes-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    gap: 10px;
    justify-content: center; /* Centrar los elementos horizontalmente */
    width: 100%;

}
.personajes-gallery div {
    background-color: #1a18189c;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    border-radius: 15px;
    margin: auto;
}
.personajes-character {
    cursor: pointer;
}
.personajes-character img {
    width: 60%;
    border-radius: 8px;
}
.personajes-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.575);
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.personajes-popup-content {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    max-width: 500px;
    width: 80%;

    background-color: var(--backgroundColorCards);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: var(--Boxshadow) 2px 2px 10px;
    color: var(--ColorText);
    font-family: CoffeFont;
    filter: drop-shadow(1px 1px 15px  #ddd7bd3a);
    border: double 3px var(--bordercolor);
    
}
.personajes-popup-content img {
    width: 50%;
    border-radius: 8px;
}
.personajes-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}


.colab {
    width: 100%;
}

.colab-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #1a18189c;
   backdrop-filter: blur(3px);
   padding: 1rem;
   box-shadow: #1a1818 2px 2px 10px;
   color: #DDD7BD;
   font-family: CoffeFont;
   filter: drop-shadow(1px 1px 15px  #ddd7bd3a);
  
   margin-top: 2rem;
   margin-bottom: 2rem;
   

}

.colab-container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a18189c;
    height: 10rem;
    width: 13rem;
    border-radius: 15px;
    transition: 500ms all;
}

.colab-container-card img {
    height: 120px;
    border-radius: 15px;
}

.colab-container-card:hover{
    filter: drop-shadow(2px 2px 20px  #ddd7bde1);
    transition: 500ms all;
    border: solid 3px #FFECCF;
    transform: scale(1.15);
}
.colabdivcontainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
/*event cards*/


.event-container {
    width: 80%;
    margin: auto;
    margin-top: 3rem;

    background-color: var(--backgroundColorCards);
    backdrop-filter: blur(3px);
    padding: 2rem;
    box-shadow: var(--Boxshadow) 2px 2px 10px;
    color: #DDD7BD;
    font-family: CoffeFont;
    border-radius: 15px;
}


.event-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 2fr));
    gap: 10px;
    justify-content: center; /* Centrar los elementos horizontalmente */
    width: 100%;
}

.event-card-container a {
    text-decoration: none;
}

.event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: var(--backgroundColorCards);
    padding: 20px;
    color: var(--ColorText);
    font-family: CoffeFont;
    border-radius: 15px;
    border: 3px solid #DDD7BD;

    transition: all 500ms;

    height: 13rem;
}


.event-card h3 {
    padding: 3px;
    margin: 0;
    font-size: 24px;
    text-decoration: none;


}

.event-card img {
    height: 120px;
    filter: none !important;
}


.event-card:hover {
    transition: 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateX(1rem);
    transform: translateY(-1rem);
    z-index: 2;
    filter: drop-shadow(2px 2px 20px  #ddd7bde1);
}

/*Options*/

.options {
    display: flex; /* Cambia a flex para disposición horizontal */
    justify-content: center;

    color: #DDD7BD;
    font-family: CoffeFont;
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style: none;
    gap: 1rem; /* Espacio entre los botones */
}

.options div {
    width: auto; /* Ajusta el ancho automáticamente */
    background-color: #1a18189c;
    backdrop-filter: blur(3px);
    padding: 1rem;
    box-shadow: #1a1818 2px 2px 10px;
    border-radius: 15px;
}

.options div ul {
    text-decoration: none;
    list-style-type: none;
    display: flex; /* Cambia a flex para disposición horizontal */
    padding: 0; /* Elimina el padding por defecto */
    margin: 0; /* Elimina el margen por defecto */
    gap: 1rem; /* Espacio entre los elementos de la lista */
}

.options div ul li {
    background-color: var(--backgroundColorCards);
    padding: 1rem;
    width: fit-content;
    border-radius: 15px;
}

.options div ul li a:visited {
    color: #DDD7BD;
    list-style: none;
}

.options div ul li a:visited {
    color: #DDD7BD;
    list-style: none;
}

.options div ul li a{
    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #DDD7BD;
}

.options div ul li:hover {
    transform: scale(1.2);
    transition: all 500ms;
    box-shadow: 1px 1px 10px #FFECCF;
}
/* gachaboy container*/
#gachaboy {
    width: 100%;
}


.gachaboy-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #1a18189c;
   backdrop-filter: blur(3px);
   padding: 1rem;
   box-shadow: #1a1818 2px 2px 10px;
   color: #DDD7BD;
   font-family: CoffeFont;
   filter: drop-shadow(1px 1px 15px  #ddd7bd3a);

   margin-top: 2rem;
   margin-bottom: 2rem;
   

}

.gachaboy-container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a18189c;
    height: 10rem;
    width: max-content;
    border-radius: 15px;
    transition: 500ms all;
}

.gachaboy-container-card img {
    height: 120px;
    border-radius: 15px;
}

.gachaboy-container-card:hover{
    filter: drop-shadow(2px 2px 20px  #ddd7bde1);
    transition: 500ms all;
    border: solid 3px #FFECCF;
    transform: scale(1.15);
}
.gachaboy-div-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}