@font-face {
    font-family: CoffeFont;
    src: url(/./assets/fonts/Coffee\ Fills.ttf);
  }


:root {
    --defaultCard: #F1EBD5;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/assets/img/wallpaper.jpg);
    /* background-color: #A3C0AA; */
}

header {
    color: #FFECCF;
    text-align: center;
    padding: 1em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    height: 3rem;
    font-family: CoffeFont;
}

header div p {
    background-color: #1a18188e;
    backdrop-filter: blur(3px);
    padding: 10px;
    border-radius: 9px;
    box-shadow: #1a1818 2px 2px 10px;
    font-size: 2rem;
    font-weight: 500;
}

.header-div {
    display: flex;
    list-style: none;
}

.header-div li {
    background-color: #1a18188e;
    backdrop-filter: blur(3px);
    margin-left: 2rem;
    padding: 10px;
    border-radius: 8px;
    box-shadow: #1a1818 2px 2px 10px;
    
}

.header-div li a {
    color: #FFECCF;
    text-decoration: none;
    font-size: 1.5rem;
}

.header-div li a:visited {
    color: #FFECCF;
} 
 

.Backgoundz {
    background-color: #1a18188e;
    padding: 2rem;
    border-radius: 15px;
    backdrop-filter: blur(3px);
    box-shadow: #1a1818 2px 2px 10px;
}

.presentation {
    padding: 1rem;
    display: flex;
    text-align: center;
    height: 70vh;
    justify-content: center;
    align-items: center;
    font-family: CoffeFont;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFECCF;
}

.presentation img{
    filter: drop-shadow( 1px 1px 120px #e3797767);
}

.presentation h2 {
    font-size: 2rem;
}

.presentation p {
    font-size: 1.5rem;
}

.search-bar {
    text-align: center;
    margin: 1em 0;
}

#searchInput, #filterSelect {
    padding: 0.5em;
    font-size: 1em;
    margin: 0.5em;
    border-radius: 8px;
}

#filterButton {
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #4CAF50;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 500ms;
}

#filterButton:hover {
    background-color: #45a049;
    transition: all 500ms;
}


#itemListContainer{
    background-color: #A3C0AA;
    padding-top: 2rem;
    border-radius: 15px;
    backdrop-filter: blur(1px);
    border: solid 1px #242F2F;
}

.category-section {
    margin: 2em 0;
    border: #A1A1A1 solid 8px;
    background-color: #4B4B4B;
    margin: 1rem;
    border-radius: 15px;
    box-shadow: #1a1818 2px 2px 10px;

}

.categoria-titulo {
    display: flex;
    justify-content: center;
    /* background-color: #4B4B4B; */
}

.category-section h2 {
    text-align: center;
    border: dashed 5px #A1A1A1;
    background-color: #4B4B4B;
    padding: 1em;
    margin: 15px;
    color: #A1A1A1;
    font-size: 2.5rem;
    border-radius: 15px;
    box-shadow: #1a1818 2px 2px 10px;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid #A1A1A1 3px;
    border-radius: 19px 19px;
    background-color: #A3C0AA;
    margin: 15px;
    position: relative;
    padding: 1rem;
     
}

.item-list::after {
    content: '';
    position: absolute;
    inset: 7px;
    border: 3px dashed #A1A1A1;
    border-radius: 14px;
    pointer-events: none;

}

.item {
    display: flex;
    border: 3px solid #DDD7BD;
    border-radius: 15px;
    width: 25rem;
    margin: 1em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
    background-color: var(--defaultCard);
    box-shadow: #4B4B4B 2px 2px 10px;
    position: relative;
    cursor: pointer;
    padding: 0.5rem;
}

.item::after {
    content: '';
    position: absolute;
    inset: 7px;
    border: 3px dashed #DDD7BD;
    border-radius: 14px;
    pointer-events: none;

}

.item:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 500ms;
}

.item img {
    width: 10rem; /* Ajustar según sea necesario */
    height: fit-content;
    border-right: 1px solid #ddd;
    padding: .5rem;
    margin: .5rem;
    background-color: #DDD7BD;
    border-radius: 50%;
     
}

.item-details {
    flex-grow: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #DDD7BD;
    margin: .5rem;
    border-radius: 15px;
     
}

.item-name {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.item-price {
    color: #4CAF50;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.5em 0;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.item-category, .item-rarity {
    margin: 0.5em 0;
    font-weight: bold;
}

.item-category {
    color: #007BFF; /* Color para la categoría */
}

.item-rarity {
    color: #FF5733; /* Color para la rareza */
}

.more-info {
    display: none;
    padding: 0.8rem;
    background-color: #c5bfa6;
    border-top: 1px solid #ddd;
    margin-top: 0.5em;
    border-radius: 9px;
    
}

.item.active .more-info {
    display: block;
    animation: slideDown 0.5s ease-in-out forwards;
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Colores de fondo según rareza */
.common {
    background-color: #f0f0f0;
}

.rare {
    background-color: #d4edda;
}

.legendary {
    background-color: #f8d7da;
}

#custom-map {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#map-image {
    width: 100%;
    display: block;
}

.pin {
    position: absolute;
    width: auto; /* Ajusta el tamaño de los pines según sea necesario */
    height: 5rem;
    cursor: pointer;
    transition: all 700ms;
    border-radius: 25%;
    filter: drop-shadow( 1px 3px 1px #202020a2);
    animation: scaleUp 5s infinite;
}

@keyframes scaleUp {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.pin:hover {
    transition: all 700ms;
    filter: drop-shadow( 1px 1px 10px #FEE6CA);
    backdrop-filter: blur(1px);
}

#pin-info-box {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60vw;
    transform: translate(-50%, -50%);
    background-color: #1a18188e;
    backdrop-filter: blur(3px);
    color: #FEE6CA;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
    border: 6px double #FEE6CA;
    font-family: CoffeFont;
}

#pin-info-box h2 {
    margin-top: 0;
    text-align: center;
    font-size: 2.5rem;
    
}

#pin-info-box .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: #FEE6CA;
}

#pin-description{
    font-size: 1.4rem;
    text-align: center;
    background-color: #1a18189a;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #FEE6CA;
    filter: drop-shadow( 1px 1px 120px #fee6ca9f);
}

.pin-div {
    display: flex;
    justify-content: space-around;
}

.pin-div div{
    background-color: #1a18189a;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #FEE6CA;
    gap: 10px;
}


.pin-div div h3 {
    font-size: 1.6rem;
    text-align: center;
}

.pin-div div li {
    font-size: 1.3rem;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 900;
}